.box-layout {
  align-items: center;
  background: url("/images/thereel.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.box-layout__about {
  align-items: center;
  background: url("/images/breakfast.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.box-layout__hotelroom {
  align-items: center;
  background: url("/images/hotel-room.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__shop {
  color: $black;
  align-items: center;
  background: url("/images/lookthru.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.box-layout__box {
  background: fade-out(white, 0.15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.box-layout__mouseybox {
  color: yellow;
  background: fade-out(white, 0.15);
  padding: $l-size $m-size;
  text-align: center;
  width: 60rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
