* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $orange-rust;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

h1 {
  color: #f94414;
  text-shadow: 2px 2px #6cf4e3;
}
